.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 10rem;
    height: 3rem;
}
.header-menu,a{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
    text-decoration: none;
    font-family: "Inter", sans-serif;

    
}
.header-menu>li,a:hover{
    cursor: pointer;
    color: var(--orange);
    cursor: pointer;
}


@media screen and (max-width: 768px) 
{
    [class*="col-"] {
        width: 100%;
    }
    .header>:nth-child(2)
    {
        position: fixed;
        right: 2rem;
        z-index: 99;
    }
    .header-menu{
        flex-direction: column;
        background-color: var(--appColor);
        padding: 2rem;
    }
    
}